body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

label, input {
    display: block;
    margin: 10px auto;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}
